	<div class="container admin_orderbox">
		<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">サイト内状況</h2>
						</div>
						<div class="panel-body">
							<table class="table">
								<tr>
									<th>売り上げ</th>
									<td>data</td>
								</tr>
								<tr>
									<th>登録者数</th>
									<td><%= @users %></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			<div class="col-md-9">
				<div class="admin_order_headline"><h2>注文一覧</h2></div>
				<table class="table">
					<thead>
						<tr>
							<th>注文番号</th>
							<th>配送状況</th>
							<th>配送先</th>
							<th>購入者</th>
							<th>注文詳細</th>
							<th>購入日時</th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
						<tr>
							<td><%= link_to order.id, admin_order_path(order.id) %></td>
							<td><%= order.order_status %></td>
							<td><%= order.order_address %></td>
							<td><%= order.order_name %></td>
							<td><%= @p.product_name %></td>
							<td><%= order.created_at %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>