	<div class="container admin_orderbox">
		<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">サイト内状況</h2>
						</div>
						<div class="panel-body">
							<table class="table">
								<tr>
									<th style="width: 30%">売り上げ</th>
									<td style="width: 70%; text-align: left;"><span class="total-name">総合計:  </span><span class="total-price"><%= @sales %>円</span><span>  (税込)</span></td>
								</tr>
								<tr>
									<th style="width: 30%">登録者数</th>
									<td style="width: 70%; text-align: left;"><span class="total-name">総登録者数: <span class="total-price"><%= @users %>人</span></span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			<div class="col-md-8">
				<div class="admin_order_headline"><h2>注文一覧</h2></div>
				<table class="table">
					<thead>
						<tr>
							<th>注文番号</th>
							<th>配送状況</th>
							<th>配送先</th>
							<th>購入者</th>
							<!-- <th>注文詳細</th> -->
							<th>購入日時</th>
							<th>注文詳細</th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
						<tr>
							<td><%= order.id %></td>
							<td><%= order.order_status %></td>
							<td><%= order.order_address %></td>
							<td><%= order.user.first_name %></td>
						<!--<td><%= order.order_address %></td>
							<td><%= order.order_name %></td>
							<td>
								<%# order.order_products.each do |p| %>
									<%#= p.product.product_name %>
								<%# end %>
						</td> -->
							<td><%= order.created_at %></td>
							<td><%= link_to "詳細", admin_order_path(order.id), class: "btn btn-default" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>