<div class="container admin_orderbox">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
      <div class="admin_order_headline">
			  <h2>注文詳細 一覧</h2>
      </div>
			<div class="row">
        <div class="col-md-5 col-md-offset-1">
          <label>注文番号</label>
          <p><%= @order.id %></p>
          <label>ステータス</label>
          <%= form_for([:admin, @order]) do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys.to_a, {} %>
            <%= f.submit '変更' %>
          <% end %>
          <label>購入者</label>
          <p><%= @order.order_name %></p>
        </div>
        <div class="col-md-5">
          <label>購入日時</label>
          <p><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          <label>発送日時</label>
          <p><% if @order.order_status == "発送済み" %>
                <%= @order.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
              <% else %>
                未発送
              <% end %>
          </p>
          <label>配送先住所</label>
          <p><%= @order.order_address %></p>
          <div class="total-right">
            <% @order_products.inject(0) { |sum, order_product| @total = sum + (order_product.order_quantity * order_product.order_price) } %>
            <span class="total-name">総合計:  </span><span class="total-price"><%= number_with_delimiter(@total) %>円</span><span>  (税込)</span>
          </div>

        </div>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>商品 ID</th>
              <th>商品名</th>
              <th>個数</th>
              <th>価格</th>
              <th>小計</th>
              <th>商品詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @order_products.each do |p| %>
            <tr>
              <td><%= p.product_id %></td>
              <td><%= p.order_name %></td>
              <td><%= p.order_quantity %>枚</td>
              <td><%= number_with_delimiter(p.order_price) %>円</td>
              <td>
                <% @subtotal = p.order_quantity * p.order_price %>
                <%= number_with_delimiter(@subtotal) %>円
              </td>
              <td>
                <div>
                <%= link_to '詳細', admin_product_path(p.product_id), class: "btn btn-default" %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
		</div>
	</div>
</div>