<div class="user-show-box">
	<div class="col-xs-3">
		<div class="user-left">

			<table>
				<thead>

					<tr>
						<tr>
							<th><%= @user.first_name %><%= @user.last_name %></th>
						</tr>
						<tr>
							<th><%= @user.first_name_kana %><%= @user.last_name_kana %></th>
						</tr>
						<tr>
							<th><%= @user.postcode %></th>
						</tr>
						<tr>
							<th><%= @user.address %></th>
						</tr>
						<tr>
							<th><%= @user.email %></th>
						</tr>
					</tr>

				</thead>
			</table>

			<%= link_to "編集",edit_user_path %><br>
			<%= link_to "退会はこちらから",user_path,class:"btn-sm btn-danger",method: :delete,"data-confirm" => "本当に退会しますか？" %>
		</div>
	</div>


	<div class="col-md-9">
		<div class="user-right">
			<h2 class="order-1">注文中の商品</h2>
			<table class="table align-middle table-bordered">
				<thead>
					<tr>
						<th>注文id</th>
						<th>商品画像</th>
						<th>商品名</th>
						<th>数量</th>
						<th>価格</th>
						<th>小計</th>
						<th>発送状況</th>
					</tr>
				</thead>


				<tbody>
					<!-- ログインしているuserの商品情報を表示 -->
					<% current_user.orders.each do |order| %>
					<% if order.order_status == "未発送" %>
					<tr class="order-list">
						<!-- 　注文履歴の表示 -->
						<% order.order_products.each do |order_product|%>
						<tr>
							<td><%= order_product.order_id %></td>
							<td><%= attachment_image_tag(order_product.product, :product_image, fallback: "noimage.png",size: '100x100') %></td>
							<td><%= link_to order_product.order_name,product_path(order_product.product.id) %></td>
							<td><%= order_product.order_quantity %></td>
							<td><%= order_product.order_price %></td>
							<td><%= order_product.order_price * order_product.order_quantity %></td>
							<td><%= order.order_status %></td>
						</tr>
						<% end %>
					</tr>
					<% end %>
					<% end %>
				</tbody>

			</table>
			<div class="order-right">
				<h2 class="order-1">注文履歴</h2>
				<table class="table align-middle table-bordered">
					<thead>
						<tr>
							<th>注文id</th>
							<th>商品画像</th>
							<th>商品名</th>
							<th>数量</th>
							<th>価格</th>
							<th>小計</th>
							<th>発送状況</th>
						</tr>
					</thead>
					<tbody>
						<!-- ログインしているuserの商品情報を表示 -->
						<% current_user.orders.each do |order| %>
						<% if order.order_status != "未発送" %>
						<tr class="order-list">
							<!-- 　注文履歴の表示 -->
							<% order.order_products.each do |order_product|%>
							<tr>
								<td><%= order.id %></td>
								<td>
									<%= attachment_image_tag(order_product.product, :product_image,
									fallback:"noimage.png",size: '100x100') %>
								</td>
								<td><%= link_to order_product.order_name,product_path(order_product.product.id) %></td>
								<td><%= order_product.order_quantity %></td>
								<td><%= order_product.order_price %></td>
								<td><%= order_product.order_price * order_product.order_quantity %></td>
								<td><%= order.order_status %></td>
							</tr>
							<% end %>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
