<div class="container">
	<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default user_show_profile">
			<table class="table">
				<tr class="profile_categorys">
					<th style="width:15%">名前:</th>
					<td><%= @user.first_name %><%= @user.last_name %></td>
				</tr>
				<tr>
					<th style="width:15%">郵便番号:</th>
					<td><%= @user.postcode %></td>
				</tr>
				<tr>
					<th style="width:15%">住所:</th>
					<td><%= @user.address %></td>
				</tr>
				<tr>
					<th style="width:15%">メールアドレス:</th>
					<td><%= @user.email %></td>
						</tr>
			</table>
			<div class="profile_btn">
				<%= link_to "編集",edit_user_path, class: "btn btn-default center-block" %><br>
				<%= link_to "退会はこちらから",user_path, method: :delete,"data-confirm" => "本当に退会しますか？", class: "btn btn-danger center-block" %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="user_order">
			<h4>注文中の商品</h4>
			<table class="table align-middle table-bordered">
					<tbody>
					<tr>
						<th class="align-middle">購入日</th>
						<th class="align-middle">商品画像</th>
						<th class="align-middle">商品名</th>
						<th class="align-middle">数量</th>
						<th class="align-middle">商品価格</th>
						<th class="align-middle">小計</th>
						<th class="align-middle">発送状況</th>
					</tr>
					<!-- ログインしているuserの商品情報を表示 -->
					<% current_user.orders.each do |order| %>
					<% if order.order_status == "未発送" %>
						<!-- 　注文履歴の表示 -->
						<% order.order_products.each do |order_product|%>
							<tr>
								<th class="align-middle"><%= order_product.created_at.strftime("%Y-%m-%d %H:%M:%S") %></th>
								<th class="align-middle"><%= attachment_image_tag(order_product.product, :product_image, fallback: "noimage.png",size: '80x80') %></th>
								<th class="align-middle"><%= order_product.order_name %></th>
								<th class="align-middle"><%= order_product.order_quantity %>枚</th>
								<th class="align-middle"><%= number_with_delimiter(order_product.order_price) %>円</th>
								<th class="align-middle"><%= number_with_delimiter(order_product.order_price * order_product.order_quantity) %>円</th>
								<th class="align-middle"><%= order.order_status %></th>
							</tr>
						<% end %>

					<% end %>
					<% end %>
				</tbody>

			</table>
		</div>

		<div class="user_order">
			<h4>過去の注文商品</h4>
			<table class="table align-middle table-bordered">
				<tbody>
					<tr>
						<th class="align-middle">購入日</th>
						<th class="align-middle">商品画像</th>
						<th class="align-middle">商品名</th>
						<th class="align-middle">数量</th>
						<th class="align-middle">商品価格</th>
						<th class="align-middle">小計</th>
						<th class="align-middle">発送状況</th>
					</tr>
					<!-- ログインしているuserの商品情報を表示 -->
					<% current_user.orders.each do |order| %>
					<% if order.order_status != "未発送" %>
						<!-- 　注文履歴の表示 -->
						<% order.order_products.each do |order_product|%>
							<tr>
									<th class="align-middle"><%= order_product.created_at.strftime("%Y-%m-%d %H:%M:%S") %></th>
									<th class="align-middle"><%= attachment_image_tag(order_product.product, :product_image, fallback: "noimage.png",size: '100x100') %></th>
									<th class="align-middle"><%= order_product.order_name %></th>
									<th class="align-middle"><%= order_product.order_quantity %>枚</th>
									<th class="align-middle"><%= number_with_delimiter(order_product.order_price) %>円</th>
									<th class="align-middle"><%= number_with_delimiter(order_product.order_price * order_product.order_quantity) %>円</th>
									<th class="align-middle"><%= order.order_status %></th>
							</tr>
						<% end %>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
