
<div class="col-xs-3">
  <div class="edit-box">

	<table>
		<thead>

			<tr>
				<tr>
					<th><%= @user.first_name %><%= @user.last_name %></th>
				</tr>
				<tr>
					<th><%= @user.first_name_kana %><%= @user.last_name_kana %></th>
				</tr>
				<tr>
					<th><%= @user.postcode %></th>
				</tr>
				<tr>
					<th><%= @user.address %></th>
				</tr>
				<tr>
					<th><%= @user.email %></th>
				</tr>
			</tr>

		</thead>
	</table>

	<%= link_to "編集",edit_user_path %><br>
	<%= link_to "退会はこちらから",user_path,method: :delete,"data-confirm" => "本当に退会しますか？" %>
  </div>
</div>


<div class="col-md-9">
	<div class="order-right">
		<h2 class="order-1">注文中の商品</h2>
		<table class="table">
			<thead>
				<tr>
					<th>商品画像</th>
					<th>商品名</th>
					<th>数量</th>
					<th>価格</th>
					<th>小計</th>
					<th>発送状況<br>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% current_user.orders.each do |order| %>
				<% if order.order_status == "未発送" %>
					<tr>
						<td></td>
						<td><%= order.order_name %></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					  <% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="order-right">
		<h2 class="order-1">注文履歴</h2>
		<table class="table">
			<thead>
				<tr>
					<th>商品画像</th>
					<th>商品名</th>
					<th>数量</th>
					<th>価格</th>
					<th>小計</th>
					<th>発送状況<br>ステータス</th>
				</tr>
			</thead>
			<tbody>
			  
				<% @orders.each do |order| %>
				  <% if order.order_status !="未発送"   %>
				  <tr>
					<td></td>
					<td><%= order.order_name %></td>
					<td><%= order.order_address %></td>
					<td></td>
					<td></td>
					<td><%= order.order_status %></td>
				  </tr>
				  <% end %>
				<% end %>
			</tbody>

		</table>
	</div>
</div>
