<h1>注文確認</h1>

<table class="table">
	<thead>
			<h3>購入予定商品</h3>
			<th>商品画像</th>
			<th>商品名</th>
			<th>数量</th>
			<th>価格</th>
			<th>小計</th>
	</thead>
	<tbody>
		 <% @carts.each do |cart| %>
		<tr>
			<td><%= attachment_image_tag(cart.product, :product_image, fallback: "noimage.png",size: '100x100') %></td>
			<td><%= cart.product.product_name %></td>
			<td><%= cart.quantity %></td>
			<td><%= cart.product.price %>円</td>
			<td><%= cart.product.price * cart.quantity %>円</td>
			<td><% @carts.inject(0) { |sum, cart| @total = sum + (cart.product.price * cart.quantity) } %></td>
		</tr>
		
		<% end %>
	</tbody>
</table>
<p><%= @total%></p>
<table class="table">
  <thead>
    <%= form_for(@order) do |f| %>
      <% current_user.shippings.each do |shipping| %>
        <tr>
         <td><label><%= f.radio_button :user_id, shipping.id %><%= shipping.shipping_address %>  <%= shipping.shipping_name %></label><td>
        <tr>
      <% end %>
	  <%= f.submit "注文確定" %>
	<% end %>
  </thead>
</table>
