<h1>注文確認</h1>

<table class="table">
	<thead>
		<tr>
			<th>購入予定商品</th>
		</tr>
	</thead>
	<tbody>
		　<% @orders.each do |order| %>
		　<% if order.order_status == 0 %>
		<tr>
			<td></td>
			<td><%= order.order_name %></td>
			<td><%= order.order_address %></td>
			<td></td>
			<td></td>
			<td><%= order.order_status %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>

</table>

<% current_user.shippings.each do |shipping| %>

<tr>
	<td></td>
	<td><%= shipping.shipping_name %></td>
	<td><%= shipping.shipp_postcode %></td>
	<td><%= shipping.shipp_address %></td>
</tr>
<% end %>
