<% @carts.each do |cart| %>
<p><%= attachment_image_tag(cart.product, :product_image, fallback: "noimage.png",size: '150x150') %></p>
<p>商品名: <%= cart.product.product_name %></p>
<p>価格: <%= cart.product.price %></p>

<%= form_for cart do |f| %>
<%= f.number_field :quantity, min:1, max:9 %>
<%= f.submit %>
<% end %>

<p>小計: <%= cart.product.price * cart.quantity %></p>
<p><%= link_to "削除", cart_path(cart.id), method: :delete %>
<% end %>


