<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :ディスク %>
    <%= f.text_field :disc_name %>
    <%= f.label :ディスクナンバー %>
    <%= f.text_field :disc_number %>
    <%= link_to_remove_association "ディスク削除", f %>
  </div>

  <div class="songs">
  	<%= f.fields_for :songs do |song| %>
  		<%= render 'song_fields', f: song %>
  	<% end %>
  	<div class="links">
  		<%= link_to_add_association "曲追加", f, :songs %>
  	</div>
  </div>
</div>