<p class="erorr-text">
<div class="admin_product_image">
<div class="container">
	<div class="row">
		<div class="main col-md-offset-2 col-md-8">
			<h3 class="success"><%= flash[:edit] %></h3>
			<div class="panel panel-default">
				<div class="panel-heading"><h2>商品情報 編集フォーム</h2></div>
				<div class="panel-body">
					<%= form_for ([:admin,@product]) do |f| %>
					<p>
						<%= f.label :シングル名 %>
						<%= f.text_field :product_name,placeholder: "シングル名", class: "form-control" %>
					</p>
					<p>
						<%= f.label :アーティスト名 %>
						<%= f.text_field :artist_name,placeholder: "アーティスト名", class: "form-control" %>
					</p>
					<p>
						<%= f.label :サムネイル %>
						<%= f.file_field :product_image,placeholder: "サムネイル", class: "form-control" %>
					</p>
					<p>
						<%= f.label :価格 %>
						<%= f.number_field :price,placeholder: "価格", class: "form-control" %>
					</p>
					<p>
						<%= f.label :レーベル %>
						<%= f.text_field :company,placeholder: "レーベル", class: "form-control" %>
					</p>
					<p>
						<%= f.label :ジャンル %>
						<%= f.select :genre, Product.genres.keys.to_a %>
					</p>
					<div id="discs">
						<%= f.fields_for :discs do |disc| %>
					<%= render 'disc_fields', f: disc %>
					<% end %>
					</div>
					<div id="links" class="disc-add">
						<%= link_to_add_association 'ディスク追加',f, :discs %>
					</div>
					<p>
						<%= f.label :在庫 %>
						<%= f.number_field :stock_quantity,placeholder: "在庫" %>
					</p>
				</div>
			</div>
		</div>
	</div>
			<div class="actions row product-new" >
				<%= f.submit :商品情報編集, class: "btn btn-primary col-md-offset-4 col-md-4" %>
					<% end %>
	</div>
</div>
</div>
