<div class="container">
	<h4 class="success"><%= flash[:create] %><%= flash[:notice] %></h4>
	<div class="row">
		<div class="main col-md-offset-1 col-md-10">
		<h1 class="success"></h1>
		<div class="admin_order_headline">
			<h2>登録商品一覧画面</h2>
		</div>
		<table class="table admin_product_table">
			<thead>
			<tr>
				<th class="align-middle">商品ID</th>
				<th class="align-middle">サムネイル</th>
				<th class="align-middle">タイトル</th>
				<th class="align-middle">在庫</th>
				<th class="align-middle">価格</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<% @product.each do |product| %>
			<tbody>
			<tr>
				<td class="align-middle"><%= product.id %></td>
				<td class="align-middle"><%= attachment_image_tag(product, :product_image, fallback: "noimage.png",size: '100x100') %></td>
				<td class="align-middle"><%= product.product_name %></td>
				<td class="align-middle"><%= product.stock_quantity %>枚</td>
				<td class="align-middle"><%= number_with_delimiter(product.price) %>円</td>
				<td class="align-middle"><%= link_to "商品詳細へ", admin_product_path(product.id), class: "btn btn-default" %></td>
				<td class="align-middle"><%= link_to "削除", admin_product_path(product.id), method: :delete,"data-confirm" => "商品を削除しますか？", class: "btn btn-danger" %></td>
				<% end %>
			</tr>
			</tbody>
			</table>
				<%= paginate @product %>
		</div>
	</div>
</div>

