<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<div class="container">
	<div class="row">
		<div class="main col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>商品情報 新規登録</h2></div>
				<div class="panel-body">
					<%= form_for ([:admin,@product]) do |f| %>
					<p>
						<%= f.label :シングル名 %>
						<%= f.text_field :product_name,placeholder: "シングル名", class: "form-control" %>
					</p>
					<p>
						<%= f.label :アーティスト名 %>
						<%= f.text_field :artist_name,placeholder: "アーティスト名", class: "form-control" %>
					</p>
					<p>
						<%= f.label :サムネイル %>
						<%= f.file_field :product_image,placeholder: "サムネイル", class: "form-control" %>
					</p>
					<p>
						<%= f.label :価格 %>
						<%= f.number_field :price,placeholder: "価格", class: "form-control" %>
						</input>
					</p>
					<p>
						<%= f.label :レーベル %>
						<%= f.text_field :company,placeholder: "レーベル", class: "form-control" %>
					</p>
					<p>
						<%= f.label :ジャンル %>
						<%= f.select :genre, Product.genres.keys.to_a %>
					</p>
					<div id="discs">
						<%= f.fields_for :discs do |disc| %>
					<%= render 'disc_fields', f: disc %>
					<% end %>
					</div>
					<div class="disc-add" id="links">
						<%= link_to_add_association 'ディスク追加',f, :discs %>
					</div>
					<p>
						<%= f.label :在庫 %>
						<%= f.number_field :stock_quantity,placeholder: "在庫" %>
					</p>
				</div>
			</div>
		</div>
			<div class="actions row product-new">
				<%= f.submit :新規商品登録,class: "btn btn-primary col-md-offset-4 col-md-4" %>
					<% end %>
			</div>


	</div>
</div>
