<p class="erorr-text">
<div class="admin_product_image">
<div class="container">
	<h3 class="success"><%= flash[:edit] %><%= flash[:delete] %></h3>
	<div class="row">
		<div class="main col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>商品情報 詳細</h2></div>
				<div class="panel-body">
					<dl class="dl-horizontal">

					<dt>アーティスト名 :</dt>
					<dd><%= @products.artist_name %></dd>

					<dt>シングル/アルバム名 :</dt>
					<dd><%= @products.product_name %></dd>

					<dt>サムネイル :</dt>
					<dd><%= attachment_image_tag @products, :product_image, fallback: "noimage.png",size: '125x100' %></dd>

					<dt>価格 :</dt>
					<dd><%= number_with_delimiter(@products.price) %>円</dd>

					<dt>レーベル :</dt>
					<dd><%= @products.genre %></dd>

					<dt>在庫 :</dt>
					<dd><%= @products.stock_quantity %>枚</dd>
					<% @products.discs.each do |disc| %>
							<dt>ディスク<%= disc.disc_number %> :</dt>
							<dd><%= disc.disc_name %></dd>
							<dt>曲名 :</dt>
						<% disc.songs.each do |song| %>
							<dd><%= song.song_number %>,<%= song.title %></dd>

						<% end %>
						<% end %>


				</div>
				</div>
					<div class="edit-new">
						<button class="btn btn-default">
							<%= link_to "編集", edit_admin_product_path, data: {"turbolinks" => false} %>
						</button>
						<button class="btn btn-default">
							<%= link_to "削除", admin_product_path(@products.id),method: :delete,"data-confirm" => "商品を削除しますか？" %>
						</button>
						<button class="btn btn-default">
							<%= link_to "一覧に戻る",admin_products_path %>
						</button>
					</div>
		</div>
	</div>
</div>
</div>


