<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-left">登録者 一覧</h2>
			<table class="table">
				<thead>
					<tr>
						<th>登録者 ID</th>
						<th>名前</th>
						<th></th>
						<th>メールアドレス</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="text-left">
					<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.first_name %></td>
						<td><%= user.last_name %></td>
						<td><%= user.email %></td>
						<td><div><%= link_to '詳細', admin_user_path(user.id), class: "btn btn-default" %></div></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>