<div class="container admin_userbox">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">登録者 詳細情報</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><th>登録者 ID：</th><td><%= @user.id %></td></tr>
						<tr><th>苗字：</th><td><%= @user.first_name %></td></tr>
						<tr><th>名前：</th><td><%= @user.last_name %></td></tr>
						<tr><th>郵便番号：</th><td><%= @user.postcode %></td></tr>
						<tr><th>住所：</th><td><%= @user.address %></td></tr>
						<tr><th>メールアドレス：</th><td><%= @user.email %></td></tr>
						<tr><th>電話番号：</th><td><%= @user.phone_number %></td></tr>
					</table>
				</div>
				<%= link_to '編集', edit_admin_user_path(@user.id),class: "btn btn-default center-block" %>
			</div>
		</div>
		<div class="col-md-9">
			<div class="admin_user_headline">
				<h2 class="text-left">購入履歴</h2>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>注文番号</th>
						<th>配送状況</th>
						<th>配送先</th>
						<th>注文詳細</th>
						<th>購入日時</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= link_to order.id, admin_order_path(order.id) %></td>
						<td><%= order.order_status %></td>
						<td><%= order.order_address %></td>
						<!-- <td><%#= @p.product_name %></td> -->
						<td>
							<% order.order_products.each do |p| %>
								<%= p.order_name %>
							<% end %>
						</td>
						<td><%= order.created_at %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
