
<div class="container">

	<div class="row">
		<%= image_tag 'top-image.jpg' %>
		</div>
		<br>

	<div class="row">
		<div class= "col-md-2">
			<p class="title">検索</p>
			<%= search_form_for(@search, method: :get)  do |f| %> <!--検索機能-->
    			<%= f.label :product_name_cont, "名前" %>
    			<%= f.text_field :product_name_cont,placeholder: "部分一致"%>
    			<%= f.label :price_lt, '価格' %>
    			<%= f.number_field :price_lt %>
  			<%= f.submit "検索" %>
			<% end %>
			</div>

			<div class="col-md-10">
				<p class="title">CD</p>
				<div class="item-box">
					<% @products.each do |product| %>
						<div class="item">
							<%= attachment_image_tag(product, :product_image, fallback: "noimage.png",size: '150x150') %>
							<p>商品名:<%= product.product_name %></p>
							<p>アーティスト名:<%= product.artist_name %></p>
							<p>ジャンル:<%= product.genre %>円</p>
							<p>価格:<%= product.price %>円</p>
						</div>
					<% end %>
					<%= paginate @products %>
				</div>
			</div>

	</div>
	<br>
</div>