<div class="container">
	<div class="row">
		<div class="col-md-5 text-right">
			<%= attachment_image_tag(@product, :product_image, fallback: "noimage.png",size: '275x275') %>
		</div>
		<div class="col-md-7">
			<table class="table table-bordered"style="table-layout: fixed;">
				<tr>
					<th class="text-right" style="width:20%">商品名 :</th>
					<th><%= @product.product_name %></th>
				</tr>
				<tr>
					<th class="text-right" style="width:20%">アーティスト名 :</th>
					<th><%= @product.artist_name %></th>
				</tr>
				<tr>
					<th class="text-right" style="width:20%">価格 :</th>
					<th><%= @product.price %>円</th>
				</tr>
				<tr>
					<th class="text-right" style="width:20%">ジャンル :</th>
					<th><%= @product.genre %></th>
				</tr>
				<tr>
					<th class="text-right" style="width:20%">レーベル :</th>
					<th><%= @product.company %></th>
				</tr>
				<tr>
					<th class="text-right" style="width:20%">在庫数 :</th>
					<th><%= @product.stock_quantity %>枚</th>
				</tr>
				<tr>
					<%= form_for @cart do |f| %>
						<th class="text-right" style="width:20%">数量 <%= f. select :quantity, 1...10 %> :</th>
						<th><%= f.hidden_field :product_id, :value => params[:id] %>
						<%= f.submit 'カートに入れる', class: "btn btn-info glyphicon "%></th>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
	<div class="song-box">
	<p>song</p>
	</div>
</div>