<!DOCTYPE html>
<html>
  <head>
    <title>Ringo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid navi_list">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if user_signed_in? && current_user.id == 1 %>

        <%= link_to admin_orders_path do %>
          <%= image_tag "logo.png" %>
        <% end %>

      <% else %>

        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>

      <% end %>

    </div>

    <% if user_signed_in? && current_user.id == 1 %>
      <!-- 管理者がログインしている時 -->
      <p class="navbar-text">管理者画面</p>
      <div class="collapse navbar-collapse navbar-right navi_list_icon" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li><%= link_to 'TOP画面へ戻る', products_path %></li>
          <li><%= link_to '登録者 一覧', admin_users_path %></li>
          <li><%= link_to '登録商品 一覧', admin_products_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete %></li>
        </ul>
      </div>

    <% elsif user_signed_in? %>
      <!-- ユーザーがログインしている時 -->
      <div class="collapse navbar-collapse navbar-right navi_list_icon" id="navbarEexample1">
        <ul class="nav navbar-nav">

          <li><%= link_to carts_path do %>
              <p><span class="glyphicon glyphicon-shopping-cart" style="font-size:25px;"></span>カート</p>
              <% end %>
          </li>

          <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete %></li>
          <li><%= link_to current_user.last_name, user_path %></li>
        </ul>
      </div>

    <% else %>
      <!-- ユーザーがログインしていない時 -->
      <div class="collapse navbar-collapse navbar-right navi_list_icon" id="navbarEexample1">
        <ul class="nav navbar-nav">
          <li class=""><%= link_to '新規会員登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><a>ゲスト様</a></li>
        </ul>
      </div>

    <% end %>

  </div>
  </nav>

  <%= yield %>

  <footer class="footer">
    <div class="company_list">
      <ul>
        <li>会社情報</li>
        <li>お知らせ</li>
        <li>よくある質問</li>
        <li>採用情報</li>
        <li>お問い合わせ</li>
      </ul>
    </div>
    <div class="company_name">
      <p class="text-muted">©︎林檎team</p>
    </div>
  </footer>

  </body>
</html>
