<!DOCTYPE html>
<html>
  <head>
    <title>Ringo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? && current_user.id == 1 %>
  <div>
  <% else %>
  <div class="main_contents">
  <% end %>

    <header>
      <div class="head">
        <% if user_signed_in? && current_user.id == 1 %>
        <!-- 管理者がログインしている時 -->
          <%= link_to admin_orders_path do %>
              <%= image_tag "logo.png" %>
          <% end %>
          <p>管理者画面</p>
          <div class="message_notice">
          <%= flash[:notice] %>
          </div>
          <nav class="head_navi clearfix">
            <li class="navi-list"><%= link_to 'TOP画面へ戻る', products_path %></li>
            <li class="navi-list"><%= link_to '登録者 一覧', admin_users_path %></li>
            <li class="navi-list"><%= link_to '登録商品 一覧', admin_products_path %></li>
            <li class="navi-list"><%= link_to "新規商品登録", new_admin_product_path, data: {"turbolinks" => false} %></li>
            <li class="navi-list"><%= link_to 'ログアウト', destroy_user_session_path , method: :delete %></li>
          </nav>

        <% elsif user_signed_in? %>
        <!-- ユーザーがログインしている時 -->
          <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
          <% end %>
          <div class="message_notice">
          <%= flash[:notice] %>
          </div>
          <nav class="head_navi clearfix">
            <li class="navi-list"><br>
              <%= link_to carts_path do %>
                <p><span class="glyphicon glyphicon-shopping-cart" style="font-size:25px;"></span>カート</p>
              <% end %></li>
            <li class="navi-list">
              <%= link_to destroy_user_session_path, method: :delete do %>
              <p><%= image_tag "icon2.png", size: "30x30" %><br>ログアウト</p>
              <% end %>
            </li>
            <li class="navi-list">
              <%= link_to user_path do %>
              <p><%= image_tag "icon1.png", size: "30x30" %><br><%= "#{current_user.first_name} 様" %></p>
              <% end %>
            </li>
          </nav>
        <% else %>
        <!-- ユーザーがログインしていない時 -->
          <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
          <% end %>
          <div class="message_notice">
          <%= flash[:notice] %>
          </div>
          <nav class="head_navi clearfix">
            <li class="navi-list">
              <%= link_to new_user_registration_path,data: {"turbolinks" => false} do %>
              <p><%= image_tag "icon2.png", size: "30x30" %><br>新規会員登録</p>
              <% end %>
            </li>
            <li class="navi-list">
              <%= link_to new_user_session_path,data: {"turbolinks" => false} do %>
              <p><%= image_tag "icon2.png", size: "30x30" %><br>ログイン</p>
              <% end %>
            </li>
            <li class="navi-list">
              <a><p><%= image_tag "icon1.png", size: "30x30" %><br>ゲスト様</p></a></li>
          </nav>
        <% end %>
      </div>
    </header>

      <div class="main_contents_mask">
        <%= yield %>
      </div>
  </div>

    <footer class="footer">
      <ul class="footer_company">
        <li class="company_list"><a href="#">会社情報</a></li>
        <li class="company_list"><a href="#">お知らせ</a></li>
        <li class="company_list"><a href="#">よくあるご質問</a></li>
        <li class="company_list"><a href="#">採用情報</a></li>
        <li class="company_list"><a href="#">お問い合わせ</a></li>
      </ul>
      <div class="company_name">
        <p class="text-muted">©︎林檎team</p>
      </div>
      <p class="footer_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    </footer>

  </body>
</html>
